.menu-container {
    width: 520px;
    background: gray;
    overflow-y: auto;
}

.button-container > a {
    width: 100px;
    height: 100px;
    float: left;
    background: lightgray;   
    margin: 15px;
}
.header-menu{
    background:#0F0;
    width:520px;
    height:40px;
    line-height:40px;
    display: table;
	margin: 10px;
}
.header-button{
    background:#F00;
    display: table-cell;
}