
.youtube{
min-width:85%;
max-width:560px;
height:315px;
}

/*
.button-container, .selected-image, .header-button {
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}
darkest blue:293E6A
medium blue:3A5897
light blue: #74AAF7
seafoam?: #77BA9B
greeny: B6A754
*/
.back{
left:0;
top:0;
position:absolute;
font-size:20px;
}
#header
{
text-align: center;

  position: relative;
  #border-style: solid;
  #border-width: 10px;
  #border-radius:25px;
  overflow:hidden;
  z-index:10;
}
#header h1, #header h2
{
float:left;
color:#3A5897;
text-align:center;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}
#header h2
{
width:30%;
float:left;
margin:1.66%;
width:30%;
margin:1.66%;
font-size:15px;
}
#header h1
{
width:100%;
position:relative;
color:#293E6A;
font-size:30px;
border-bottom:solid;
border-bottom-width:2px;
border-spacing:2px;
}


body {
	margin: 0;
	padding: 0;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
    #background-color: #273B65;
	background-color:#B6A754;
	background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-light.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.content-container{

  margin: 0 auto 0 auto; 
  display: block; 
  position: relative; 
  overflow: hidden; 
  width: 80%;
  max-width:650px;
  min-height:100vh;
  #border-radius:25px;
  
  #border-style: solid;
  #border-width: 10px;
  background-color:#D7D0AB;
}


.paragraph { 
width: 85%; 
font-size: 18px;
margin-left:auto;
margin-right:auto;
display:block;
font-family:Arial, Helvetica, sans-serif;
-webkit-transition: all 0.5s ease; 
-moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease; 
 text-align:left;
 color:#3A5897;
 } 
.quote{ 
width: 75%; 
font-size: 18px;
margin-left:auto;
margin-right:auto;
display:block;
font-family:Arial, Helvetica, sans-serif;
-webkit-transition: all 0.5s ease; 
-moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease; 
 text-align:left;
 color:#777f8e;

 }